.*png
wandb
plots_ring
plot
.*zip
__pycache__
*.bin
*.pyc
*.kv
*.npy
artifacts
dataset/flickr30k/precomputed_embeddings_with_labels
scenario_1
scenario_2
dataset/cifar10/data/
dataset/cifar10/precomputed_cifar10_text_vision_labels/
dataset/mscoco/data
dataset/mscoco/ViT-B-16-SigLIP2-256
dataset/msrvtt/MSRVTT
dataset/msrvtt/ViT-B-32___laion2b_s34b_b79k_multiple_videos
dataset/msrvtt/ViT-B-32___laion2b_s34b_b79k_v2
analysis_2/msrvtt_classification_runs
analysis_2/msrvtt_v2_classification_runs
analysis_2/wandb